.card-header{
    background-color: rgb(159, 204, 101);
}

.btn{
    margin-right: -10px;
    margin-bottom: 5px !important;
    background-color: rgb(199, 134, 134);
}

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 5px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
}